.wrapper {
  min-height: 100vh;
  position: relative;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
  text-align: center;
}

.wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../../../assets/images/horses-bg.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -1;
  opacity: 0.1;
}

.desc {
  max-width: 920px;
  width: 100%;
  margin: 0 auto;
}

@media (max-width: 1000px) {
  .wrapper::before {
    background-size: cover;
  }
}

@media (max-width: 500px) {
  .wrapper {
    justify-content: start;
    text-align: left;
  }
  .wrapper h1 {
    font-size: 35px;
  }
}
@media (max-width: 400px) {
  .wrapper h1 {
    font-size: 28px;
  }
}
